/*
 * COMMON
 */

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #e7e7e7;
}

.container {
  background-color: white;
}

.page-wrap > .container {
  padding-bottom: 50px;
}

.page-wrap .home-container {
  padding-bottom: 0;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid #bbb;
}

#navbar-search-input {
  width: initial;
}

#navbar-search-select {
  margin-left: -5px;
  width: inherit;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -25px;
}

.page-wrap:after {
  content: '';
  display: block;
}

.site-footer, .page-wrap:after {
  height: 25px;
}

.site-footer {
  background-color: #F8F8F8;
  border-top: 1px solid #bbb;
  text-align: center;
}

.form-status > * {
  padding: 15px;
}

/*
 * HOME
 */

.home-main-content {
  border-right: 3px solid #999;
}

.carousel-inner {
  width: 100%;
  max-height: 500px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
  height: auto;
}

.carousel-caption {
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 75px;
  width: 100%;
}

.featured-genres {
  text-align: center;
}

.featured-genre {
  padding: 10px;
}

.featured-genre img {
  width: auto;
  max-height: 150px;
}

.featured-genre a {
  display: block;
}

.star-list-horizontal {
  text-align: center;
}

.star-list-horizontal img {
  max-width: 125px;
}

/*
 * LOGIN
 */

.login-page {
  background-color: #eee;
}

.login-page .container {
  background-color: inherit;
}

.login-error {
  padding: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 100px auto 0 auto;
  background-color: #fff;
}

.form-signin-heading {
  text-align: center;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * STAR/MOVIE DETAIL
 */

.detail-main-content > .row {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.detail-main-content > .row:last-child {
  border-bottom: 0;
}

#movie-image,
#star-image {
  height: auto;
  width: 100%;
  padding: 10px;
}

/*
 * SHOPPING CART
 */

.shopping-cart-table button {
  text-align: center;
}

.shopping-cart-table img {
  height: 200px;
}

/*
 * CONFIRMATION
 */

.confirmation-container {
  padding-top: 50px;
  text-align: center;
  font-size: 20px;
}

/*
 * SEARCH
 */

.search-borders {
  padding: 15px;
  border: 1px solid #bbb;
  border-top: 0;
  background-color: #efefef;
}

#movie-title a {
  font-size: 20px;
}

/*
 * DASHBOARD
 */

#div-metadata caption {
  font-size: 20px;
}

#status-add-star,
#status-metadata,
#status-add-movie {
  display: none;
}

.dashboard-borders {
  padding: 15px;
  border: 1px solid #bbb;
  background-color: #efefef;
}

.dashboard-logout {
  margin-top: 50px;
}

#div-metadata table {
  background-color: white;
}

#div-metadata table caption {
  color: #444;
}
